body {
    margin: 0;
    background-color: black;
}

div {
    font-size: 14pt;
    color: white;
}

.container {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}
.dados {
    margin-left: 160px;
}

.imagem {
    margin-top: 0px;
    margin-left: 150px;
}

/*input {
    margin: 5px;
    width: 260px;
    height: 25px;
}*/

#nome {
    margin: 5px;
    margin-left: 7px;
    width: 450px;
    height: 25px;
}

#cpf {
    margin: 5px;
    margin-left: 19px;
    width: 450px;
    height: 25px;
}

#email {
    margin: 5px;
    margin-left: 1px;
    width: 450px;
    height: 25px;
}

#datanasc {
    margin: 5px;
    width: 130px;
    height: 25px;
}

#plano {
    margin: 5px;
    margin-left: 10px;
    width: 450px;
    height: 25px;
}

#finalizar {
    margin-left: 400px;
    margin-top: 30px;
}

button {
    margin-left: 700px;
    margin-top: 15px;
    width: 150px;
    height: 28px;
    font-size: 12pt;
}
